# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Build results (more specific)
**/bin/
**/obj/
**/Debug/
**/Release/

# Compiled files
*.dll
*.pdb
*.exe
*.cache

# Visual Studio temporary files
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# NuGet packages
*.nupkg
packages/
**/packages/

# Visual Studio cache files
.vs/

#md files
*.md

# Build cache files
*.csproj.AssemblyReference.cache
*.csproj.CoreCompileInputs.cache
*.csproj.FileListAbsolute.txt
DesignTimeResolveAssemblyReferencesInput.cache