<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Connection Strings Local-->
    <add key="SoyCentral" value="true"/>
    
    <add key="User" value="accesoBase" />
    <add key="Password" value="passwordBase" />

    
    <add key="localCatalog" value="local_depo_1" />
    <add key="localDataSource" value="W9792" />




    <add key="remoteCatalog" value="remoto_mell_1" />
    <!--<add key="remoteDataSource" value="frycorp.database.windows.net" />-->
    <add key="remoteDataSource" value="W9792" />
    

    <add key="idLocal" value="7B744C94-6C51-4AAC-8EF8-2A2A713A264D" />
    <add key="idListaPrecio" value="EB4101DD-8EEC-48F6-BE46-D7DFB8C00900" />
    <add key="firstNum" value="1" />
    <add key="decimalSeparator" value="." />

    <add key="CarpetaLogs" value="C:\Users\afrydman\Desktop\logsSync" />
    

  </appSettings>
</configuration>
